.component-app{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}

.pending-task{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 0 auto;
}

.in-progress{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 0 auto;
}

.completed{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 0 auto;
}